iframe {
  pointer-events:none;
}

.section__divulgamos .divulgamos__img-text {
	right: 200px;
}

@media (min-width: 993px) {
  .quienes-somos__heading-dos {
  	padding-left: 100px;
  }

  .section__social-digital > .informe__scroll-area__section__content-wrapper > .text-extralight {
	padding-left: 100px;
  }

  .section__cumplido__heading {
  	padding-left: 100px!important;
  }

  .section__cumplido > .informe__scroll-area__section__content-wrapper > .section__imagen-full-bg {
	/* right: 50px; */
  }

  .section__cumplido__heading-dos {
  	/* right: 175px!important; */

  }

  .section__cumplido__heading-dos > .numero {
  	padding-left: 50px;
  }

  .section__presentes__heading-paises {
	/* right: 350px!important; */
  }

  .section__proyectos__palabras {
  	padding-left: 125px;
  }

}