.menu-moving {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;

    #menu-fixed {
        text-align: right;
        top: 0;
        width: 160px;        
        position: absolute;
        right: 30px;
        transition: 1.25s all ease-out;
        z-index: 30;
    }

    .responsive-hamburger {
        display: none;
        
    }
    
}

.nav {
    
    &--left-top {
        position: fixed;
        left: 30px;
        top: 30px;
        z-index: 300;
    }

    &--go-up {
        opacity: 1;
        transform: translateY(0);
        transition: 0.75s all ease-in-out;
        &.hidden {
            opacity: 0;
            transform: translateY(50px);
            transition: 0.75s all ease-in-out;
        }
        img {
            width: 20px;
            height: auto;
            transform: rotate(90deg);
        }
        
    }
}

// Responsive-1280px
@include max-width($desktop){
}
// Responsive-992px
@include max-width($small-desktop){
}
// Responsive-768px
@include max-width($tablet){
}
// Responsive-576px
@include max-width($movil){
    
    .menu-moving {
        
        #menu-fixed {
            display: none;
            right: -100vw;
            width: 100vw;
            height: 100vh;
            padding: 0;
            margin: 0;
            //display: grid;
            place-items: center;
            background: $gris;
            color: $blanco;
            font-weight: bold;
            font-size: 32px;
            

            &.menu-active {
                display: grid;
                right: 0;
                animation: rotateIn 1s ease-in;
                opacity: 1;
            }

            &.fadeOut {
                animation: fadeOut 1s ease-out;
                
            }
            
            @keyframes fadeOut {
                0% {
                    opacity: 1;
                }
                
                100% {
                    opacity: 0;
                }
            }

            @keyframes rotateIn {
                0% {
                    transform: rotate3d(0, 1, 0, -90deg);                    
                }
                
                100% {
                    transform: rotate3d(0, 1, 0, 0);
                }
            }

        }

        .responsive-hamburger {
            display: block;
            margin: 30px 30px 0 0;
            @include hamburger($gris, 30px);
            z-index: 50;
            &.hamburger-light {
                span {
                    background-color: $blanco;
                }
            }
        }

    }

}
