.section {
    &--wrapper {
        min-width: 100vw;
        min-height: 125vh;
        position: relative;
        overflow: hidden;
    }
    
    &--content-container {
        padding: $padding*2 $padding*4;
        width: 100%;
        
    }
    
    &--background-container,
    &--overlay-container {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    &--background-container {
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    &--overlay-container {
        z-index: 10;
    }
}

.the-section {
   
    &--landing {
        display: flex;
        align-items: center; 
        
        &-bouncy {
            width: 100%;
            height: 100%;
            > div {
                img {
                    width: 227px;
                    height: auto;
                }
            }
        }

    }

    &--who-am-i {
        display: flex;
        align-items: flex-start; 
        height: 200vh;
        padding: 120px 0 0 0;

        .section--content-container {
            width: 100%;
            padding: 0;
            position: absolute;
            left: 150px;
            right: 60px;
            top: 120px;
            max-width: 80%;
        }
        
        
        &--lluvia {
            top: 0;
            background: $pollito;
            width: 100%;
            height: 100%;    
            
            &-drop {
                position: absolute;
                width: 100px;
                height: 135px;
                left: 0;
                top: 0;
                opacity: 0;
                animation: animate 3.5s ease-in-out;
                background-image: url(../assets/me-machines.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                mix-blend-mode: screen;
                @include transition($transition-duration);
                &:hover {
                    mix-blend-mode: normal;
                }

                @keyframes animate {
                    from {
                      transform: translate3d(0, 0, 0);
                      opacity: 0;
                    }
                  
                    25% {
                      opacity: 1;
                    }
                  
                    50% {
                      opacity: 1;
                    }
                  
                    to {
                      transform: translate3d(0, 450%, 0) scale(0.9);
                      opacity: 0;
                    }
                  }

            }
      
        }
      
        .txt-tachado {
            position: relative;
            z-index: 1000;
            &:after {
                content: 'Is it crass to
                say you do things
                for money?';
                display: flex;
                justify-content: center;
                align-items: center;
                padding: $padding/2;
                width: 165px;
                height: 82px;
                font-size: 12px;
                font-family:'Courier New', Courier, monospace;
                background: $pollito;
                position: absolute;
                color: $blanco;
                top: -50px;
                left: 15px;
                opacity: 0;
                transform: rotate3d(1, 1, 1, 105deg);
                @include transition($transition-duration);
            }
            &:hover {
                cursor: help;
                &:after {
                    background: $negro;
                    opacity: 1;
                    transform: rotate3d(1, 1, 1,0deg);
                }
            }
        }

    }

    &--work {
        display: flex;
        align-items: center; 
        color: $rojo;

        &-list {
            

            .webprj-link {
                > a {
                    position: relative;  
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    height: 90px;
                    
                    

                    &:hover {
                        
                        h2 {
                            background: $negro;
                            width: 100%;
                            height: 100%;
                            color: $green;
                            font-family:'Courier New', Courier, monospace;
                            margin: 0;
                            font-size: 3.4vw;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            
                        }
                        #matrix {
                            opacity: 1;
                        }
                    }
                }

                
                #matrix {
                    opacity: 0;
                    @include transition($transition-duration);
                    font-family: Katakana;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    font-family:'Courier New', Courier, monospace;
                    font-size: 10px;
                    background: transparent;
                    /*background-image: -webkit-gradient(linear, 0% 90%, 0% 100%, from(rgba(0, 255, 0, 0)), to(rgba(0, 255, 0, 0.1)));*/
                    color: rgba(0, 255, 0, 1);
                    /*text-shadow: rgba(255, 255, 255, .8) 0px 0px 4px;*/
                    position: absolute;
                }

                @-webkit-keyframes fade {
                    0% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 0;
                    }
                }

                @-webkit-keyframes fall {
                    from {
                        top: -250px;
                    }

                    to {
                        top: 300px;
                    }
                }


                #matrix>div {
                    /* writing-mode: tb-rl; - ughh. doesn't work */
                    position: absolute;
                    top: 0;
                    /* arrearance */
                    -webkit-transform-origin: 0%;
                    -webkit-transform: rotate(90deg);

                    /* animation */
                    -webkit-animation-name: fall, fade;
                    -webkit-animation-iteration-count: infinite;
                    /* use 0 to infinite */
                    -webkit-animation-direction: normal;
                    /* default is normal. use 'alternate' to reverse direction */
                    -webkit-animation-timing-function: ease-out;
                }

                #matrix span {
                    color: $green;
                    /*text-shadow: rgb(255, 255, 255) 0px 0px 5px;*/
                }

                .f1 {
                    font-size: 1.2em;
                }

                .f2 {
                    font-size: .9em;
                }

                .c1 {
                    color: rgba(0, 255, 0, .5);
                }

                .d1 {
                    -webkit-animation-duration: 4s;
                }

                .d2 {
                    -webkit-animation-duration: 6s;
                }

                .d3 {
                    -webkit-animation-duration: 8s;
                }

                .d4 {
                    -webkit-animation-duration: 10s;
                }

                .de {
                    -webkit-animation-delay: 3s;
                }

            }


            .artprj-link {
                position: relative;
                z-index: 5;
                &:after {
                    content:'';
                    display: block;
                    width: 390px;
                    height: 270px;
                    left: -10%;
                    top: -100px;
                    opacity: 0;
                    background-image: url('../assets/empty-frame.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    transform: scale(0);
                    @include transition($transition-duration);
                }

                &:hover {
                    &:after {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
            
            .musicprj-link {
                position: relative;
                
                &:after {
                    content:'';
                    display: block;
                    width: 25vw;
                    height: 65vh;
                    left: 40%;
                    bottom: -50%;
                    opacity: 0;
                    background-image: url('../assets/me-dj.gif');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: absolute;
                }

                &:hover {
                    &:after {
                        opacity: 1;
                    }
                }
                
            }
        }
        
    }

    &--contact {
        display: flex;
        align-items: center; 
        background: $azul;
        color: $blanco;

        &-social {
            display: flex;
            padding: 0;
            margin: $margin 0;
            
            li {
                margin: 0 $margin/2 0 0;
            }

        }

        .section--content-container {
            > h2 {
                position: relative;
                &:hover {
                    cursor: crosshair;
                }
            }
            span, i, strong, a {
               display: inline-block;
                
               transition: 1s transform ease-out;
                height: 96px;
                &:hover {
                    transform: translateY(-20px);
                    transition: 0.1s transform linear;
                    
                }

                @keyframes swingup {
                    from {
                      transform: translate3d(0, 0, 0);
                    }
                  
                    25% {
                    }
                    
                    50% {
                        transform: translate3d(0, -15px, 0);
                    }
                  
                    to {
                        transform: translate3d(0, 0, 0);
                    }
                  }

            }
            a {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &--web-projects {
        color: $blanco;
        
        .section {
            &--background-container {
                
            }

            &--palatnik {
                &-base-bg {
                    background: linear-gradient(-45deg, $royal, #e73c7e, #23a6d5, #23d5ab);
                    background-size: 400% 400%;
                    animation: gradient 15s ease infinite;
                    width: 100%;
                    height: 100%;
                    z-index: -2;
                    opacity: 0.8;
                }

                &-shapes {
                    z-index: -3;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    
                    .ellipse {
                        // clip-path: ellipse(60px 40px at 75px 50px);
                        background: $negro;
                        position: absolute;
                        -webkit-box-shadow: 0px 0px 26px 30px rgba(0,0,0,1);
                        -moz-box-shadow: 0px 0px 26px 30px rgba(0,0,0,1);
                        box-shadow: 0px 0px 26px 30px rgba(0,0,0,1);
                        width: 205px;
                        height: 140px;
                        left: 50vw;
                        top: 50vh;
                        border-radius: 180px;
                    }

                }
            }
        }
        
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    }

    &--music-projects {
        h2 {
            margin: 0 0 $margin/2 0;
        }
        p {
            margin: 0;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}