// Grid
$desktop: 1280px;
$small-desktop: 992px;
$tablet: 768px;
$movil: 576px;

// Colors
$blanco: #FFFFFF;
$negro: #131313;
$oscuro: #303738;
$naranja: #e06f31;
$naranja-oscuro: #8b5435;
$turquesa: #00c0d3;
$turquesa-oscuro: #235c62;
$gris: #303738;
$gris2: #d6d7d7;
$gris3: #f3f3f3;
$gris4: #a6a6a6;
$gris5: #838383;
$gris6: #3a3a3a;
$alert: #CB3D3C;

// Fonts
$museosans-300:'MuseoSans_300';
$museosans-500:'MuseoSans_500';
$museosans-300-italic: 'MuseoSans_300Italic';
$museosans-500-italic: 'MuseoSans_500_Italic';
$museosans-700:'MuseoSans_700';
$museosans-100:'MuseoSans-100';
$newjune-light: 'NewJune-Light';
$abril-display-bold: 'Abril_Display_Bold';
$abril-display-regular: 'Abril_Display_Regular';
$abril-text-bold: 'Abril_Text_Bold';
$abril-text-regular: 'Abril_Text_Regular';

// Font style
$normal: normal;
$italic: italic;

// Font weights
$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

// Transition duration
$transition-duration: .3s;

// Opacity
$opacity-hover: .5;

// Padding - Margin
$padding: 30px;
$margin: $padding;

// Box Shadow 
$box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

// Border Radius
$border-radius: 5px;

// Z-index
$elements: 0;
$components: 2000;
$secondarynav: 3000;
$header-footer: 4000;
$primarynav: 5000;
$modals: 6000;
$special: 7000;
$fullscreen: 8000;
$notifications: 9000;