// Fuente personalizada
@mixin font-ttf($font-file-name, $style, $weight) {
  $font-file-path: '../fonts/' + $font-file-name;
  @font-face{
    font-family: $font-file-name;
    font-style: $style;
    font-weight: $weight;
    src:url($font-file-path + '.ttf') format('truetype');
  }
}
@mixin font-otf($font-file-name, $style, $weight) {
  $font-file-path: '../fonts/' + $font-file-name;
  @font-face{
    font-family: $font-file-name;
    font-style: $style;
    font-weight: $weight;
    src:url($font-file-path + '.otf') format('opentype');
  }
}

// Responsive
@mixin max-width($screen-size) {
  @media only screen and (max-width: $screen-size) {
    @content;
  }
}
@mixin min-width($screen-size) {
  @media only screen and (min-width: $screen-size) {
    @content;
  }
}
@mixin max-height($screen-size) {
  @media only screen and (max-height: $screen-size) {
    @content;
  }
}
@mixin min-height($screen-size) {
  @media only screen and (min-height: $screen-size) {
    @content;
  }
}

// Transición
@mixin transition($animation-duration) {
  -webkit-transition: all $animation-duration ease-in-out;
  -o-transition: all $animation-duration ease-in-out;
  -moz-transition: all $animation-duration ease-in-out;
  -ms-transition: all $animation-duration ease-in-out;
  transition: all $animation-duration ease-in-out;
}

// Reset marging and padding
@mixin reset {
  margin: 0;
  padding: 0;
}


// Insertar ícono como imagen de fondo
@mixin icon-bg($image-url) {
  background-image: url($image-url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// Crear utilidad de color de fondo

@mixin bg-utility($bg-color-name,$bg-color,$a-color:"") {
  .bg-{
    &#{$bg-color-name} {
      background: $bg-color;
      a{
        color: $a-color;
      }
      &.bloque__curva-fin-bloque__positiva,
      &.bloque__curva-fin-bloque__negativa {
        svg g {
          fill: $bg-color;
        }
      }
      &.bg-img {
        background: transparent;
        .bg-img__bg-color {
          background: $bg-color;
        }
      }
    }
  }
}

@mixin hover-colors($bg-color, $text-color, $border-color:"") {
  &:hover {
    background-color: $bg-color;
    color: $text-color;
    border: 1px solid $border-color;
  }
}