// Indicador de seccion y nav interno

.section-indicator {
    position: fixed;
    top: 35%;
    left: 0;
    z-index: $secondarynav;
}

.section-indicator__items {
    position: relative;
    margin-left: $padding/1.5;
}

.section-indicator__ancla {
    display: block;
    position: relative;
    width: 28px;
    height: 40px;
    margin: 0 0 2px 0;
    overflow: visible;
    .section-indicator__active,
    &:hover {
        cursor: pointer;
        .section-indicator__section-title {
            opacity: 1;
        }
    }
}

.section-indicator__item {
    display: flex;
    margin: 0 0 2px 0;
    align-items: flex-start;
    color: $gris;
    position: absolute;
    top: 0;
    left: 0;
   
}

.section-indicator__section-title {
    opacity: 0;
    font-size: 14px;
    font-family: $museosans-500;
    padding: 5px 0 0 5px;
    transition: opacity 0.5s ease 0.25s;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    width: 1px;
    overflow: visible;
}

.section-indicator__bar {
    width: 8px;
    height: 40px;
    background: $gris2;
    box-shadow: $box-shadow;
}


.section-indicator__active-bar {
    background: $naranja; 
    opacity: 0.6;
    width: 8px;
    height: 40px;
    position: absolute;
    left: 0;
    transition: all 0.5s ease 0.5s;
    $current-indicator-height: 0;
    $indicator-height: 42px;
    top: $current-indicator-height;

    @for $i from 1 through 10 {
        &.section-indicator__active-section {
            &-#{$i} {
                top: $current-indicator-height;
            }
        }
        $current-indicator-height: $current-indicator-height + $indicator-height;
}
}


// Botones


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 50px;
    font-size: 22px;
    background: transparent;
    margin: 5px;
    max-height: 100px;
    text-decoration: none;
    color: $naranja;
    font-style: normal;
    text-align: center;
    font-family: $museosans-500;
    width: max-content;
    border: 1px solid transparent;
    @include transition($transition-duration);

    &:hover {
        cursor: pointer;
        text-shadow: #0000004d 1px 1px 0;
    }

    &.btn-naranja {
        background: $naranja;
        color: $blanco;
        @include hover-colors($blanco, $naranja, $naranja);
    }

    &.btn-naranja-inv {
        background: transparent;
        color: $naranja;
        border: 1px solid $naranja;
        @include hover-colors($naranja,$blanco, $blanco);
    }
    
    &.btn-blanco {
        background: $blanco;
        color: $naranja;
        @include hover-colors($naranja, $blanco);
    }

    &.btn-blanco-inv {
        background: transparent;
        color: $blanco;
        border: 1px solid $blanco;
        @include hover-colors($naranja, $blanco, $naranja);
    }

    &.btn-turquesa {
        background: $turquesa;
        color: $blanco;
        @include hover-colors($blanco, $turquesa, $turquesa);
    }

    &.btn-flecha {
        text-transform: uppercase;
        font-size: 14px;
        @include reset;
        padding: $padding/1.2 $padding*2 $padding/1.2 $padding/1.25;
        position: relative;
        &:after {
            content: '';
            width: 40px;
            height: 20px;
            position: absolute;
            right: 10px;
            @include transition($transition-duration);
        }

        &.btn-flecha-izq {
            padding: $padding/1.2 $padding/1.25 $padding/1.2 $padding*2;

            &:after {
                left: 10px;
                transform: rotate(180deg);
            }
        }

        &:hover {
            &:after {
                right: 5px;
            }

            &.btn-flecha-izq {
                &:after {
                    left: 5px;
                }
            }
        }

        // Colores Btn Flecha
        &.btn-flecha-naranja {
            color: $naranja;
            background: transparent;
            @include hover-colors(transparent, $negro);

            &:after {
                @include icon-bg('../assets/right-arrow-naranja.svg');
            }
        }

        &.btn-flecha-blanco {
            background: transparent;
            &:after {
                @include icon-bg('../assets/right-arrow-blanco.svg');
            }

        }
        
        &.btn-flecha-blanco-bg-naranja {
            background: $naranja;
            color: $blanco;    
            &:after {
                @include icon-bg('../assets/right-arrow-blanco.svg');
            }

        }
    }

    &.btn-ver-mas {
        position: relative;
        width: 40px;
        height: 40px;
        padding: 0;
        background-color: $blanco;
        background-image: url('../assets/plus-02.svg');
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center;
        color: $blanco;
        .btn-ver-mas__text {
            position: absolute;
            left: 60px;
            width: max-content;
            font-family: $museosans-300;
            font-size: 16px;
        }
        // Colores
        &.btn-ver-mas-naranja {
            background-color: $naranja;
            background-image: url('../assets/plus-03.svg');
            color: $naranja;
        }
        &.btn-ver-mas-naranja-oscuro {
            background-color: $naranja-oscuro;
            background-image: url('../assets/plus-03.svg');
        }
        &.btn-ver-mas-turquesa-oscuro {
            background-color: $turquesa-oscuro;
            background-image: url('../assets/plus-03.svg');
        }
        @include hover-colors("", $negro);
    }

    // sin texto
    &.btn-flecha-sin-texto {
        content: '';
        width: 50px;
        height: 30px;
        margin: $margin/3 0 $margin/1.5 0;
        padding: 0;
        @include icon-bg('../assets/down-arrow-blanco.svg');
    }
}

button {
    @include transition($transition-duration);
    &:hover {
        opacity: 0.8;
    }
}

input[type="submit"] {
    background: transparent;
    border: none;
    text-transform: uppercase;
}


// Form Elements

.select {
    position: relative;
    display: inline-block;
    max-width: 400px;
    min-width: 250px;
    // margin: 0 auto;
    border: 1px solid $gris2;
    background-color: transparent;
    font-family: $abril-text-regular;
    color: $gris;
    z-index: $components;
  
    select {
        width: 100%;
        display: flex;
        min-height: 45px;
        padding-left: $padding/3;
        border: none;
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        margin: 0;
        background-image: url("../assets/arrow-select.svg");
        background-size: 20px;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 95%;

        option {
            color: $gris2;
        }
    }
  
}

.datepicker {
    border: 1px solid $gris2;
    background-color: transparent;
    font-family: $abril-text-regular;
    color: $gris;
    z-index: $components;
    max-width: 400px;
    min-width: 250px;
    input {
        border: none;
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        margin: 0;
        display: block;
        width: 100%;
        padding: 12px 55px 13px 15px;
        padding: 12px 15px 8px 15px;
    }
    &:after {
        background-image: none;
    }
}

.textarea {
    textarea {
        border: 1px solid $gris2;
        background-color: transparent;
        resize: none;
        outline: none;
    }
}

.input-text {
    position: relative;
    display: inline-block;
    max-width: 400px;
    min-width: 250px;
    border: 1px solid $gris2;
    background-color: transparent;
    font-family: $abril-text-regular;
    color: $gris;
    z-index: $components;

    input {
        border: none;
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        margin: 0;
        display: block;
        width: 100%;
        padding: 12px 55px 13px 15px;
    }
}

// Elementos Plugin Contact Form WPCF7

// Tool tip Required field
span.wpcf7-not-valid-tip {
    background: $alert;
    color: $blanco;
    padding: $padding/7 $padding/6;
    @include transition($transition-duration);
}

.checkbox-group {
    width: 100%;
    span.wpcf7-list-item {
        margin: 0;
    }
    .wpcf7-list-item-label {
        font-family: $museosans-300;
        font-size: 18px;
        color: $gris;
    }
    .wpcf7-form-control.wpcf7-checkbox {
        display: flex;
        justify-content: space-between;
    }
}

.form-upload {
    position: relative;
    display: block;
    width: 260px;
    height: 46px;
    &:before {
        content: "Upload file";
        position: absolute;
        width: 260px;
        white-space: pre;
        left: 0;
        padding: $padding/2 $padding*2;
        height: 46px;
        font-family: $abril-text-regular;
        text-align: center;
        background: transparent;
        color: $naranja;
        border: 1px solid $naranja;
        cursor: pointer;
        @include transition($transition-duration);
    }

    span>input,
    >input {
        opacity: 0;
        width: 260px;
        height: 46px;
        position: absolute;
        top: 0  ;
    }

    &:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 25px;
        background-image: url('../assets/document.svg');
        background-repeat: no-repeat;
        background-size: cover;
        right: 20px;
        top: 12px;
        @include transition($transition-duration);
    }

    &:hover {
        &:before {
            background: $naranja;
            color: $blanco;
        }
        &:after {
            filter: brightness(100);
        }
    }

    span.wpcf7-not-valid-tip {
        position: absolute;
        width: 260px;
        left: 0;
        top: 46px;
    }
}


// Icono Pangeanic

.pangeanic__icon {
    width: 100%;
}

.pangeanic__icon-img {
    width: 60px;
    margin: $margin*1.5 auto $margin auto;
    opacity: 0.5;
}

.pangeanic__icon-h {
    position: absolute;
    left: -45px;
    top: -10px;
    transform: rotate(-90deg);
    opacity: 0.15;
    width: 40px;
    height: 60px;
    background: url('../assets/pangeanic_symbol.svg');
    background-size: contain;
    background-repeat: no-repeat;
}



//  Contacto Modal

.contacto-modal {
    position: fixed;
    right: -300px;
    opacity: 0;
    top: 50%;
    z-index: $modals;
    box-shadow: $box-shadow;
    @include transition($transition-duration);
    &.modal-active {
        right: 0;
        opacity: 1;
    }
}

.contacto-modal__btn {
    width: 240px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    a {
        color: $blanco;
        display: flex;
        margin-left: -10px;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 30px;
            height: 15px;
            background-image: url('../assets/right-arrow-blanco.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px;
            position: absolute;
            right: -20px;
            @include transition($transition-duration);
            opacity: 0;
        }
    }
    &:hover {
        a {
            &:after {
                opacity: 1;
                right: -35px;
            }
        }
    }
}

.contacto-modal__titulo {
    display: none;
    background: $naranja;
    color: $blanco;
    font-size: 16px;
    padding: $padding/6 $padding/4;
}

.contacto-modal__cerrar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blanco;
    background: $naranja;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -25px;
    &:hover {
        cursor: pointer;
    }
}

// Responsive-1280px
@include max-width($desktop){
}
// Responsive-992px
@include max-width($small-desktop){
    .section-indicator {
        display: none;
    }
    .pangeanic__icon-h {
        left: 35px;
        width: 25px;
    }
    
}
// Responsive-768px
@include max-width($tablet){
    .select, .input-text, .datepicker {
        width: 100%;
        max-width: unset;
    }
    .checkbox-group {
        .wpcf7-form-control.wpcf7-checkbox {
            display: block;
        }
        span.wpcf7-list-item {
            display: block;
            padding: $padding/3 0;
        }
    }
}
// Responsive-576px
@include max-width($movil){
    .btn {
        &.btn-flecha,
        &.btn-flecha.btn-flecha-izq {
            padding: $padding 0;
        }
    }  

    .pangeanic__icon-h {
        display: none;
    }
}
